#about_container {
    display: none;
}

.about_cards_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px 12% 0 12%;
    column-gap: 85px;
}

.about_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    //border: 1px solid #e3e5e9;
    border-radius: 24px;
    padding: 38px;
    //box-shadow: 0 1px 2px 0 var(--tw-shadow-color,#0000000d);
}

.about_card h2 {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 4px;
}

.about_card svg {
    width: 32px;
    height: 32px;
    color: #fff;
    stroke-width: 1.8px;
}

.about_card a {
    color: var(--text-color);
}


.card_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    background-color: var(--accent-color);
    height: 58px;
    width: 58px;
}


@media only screen and (max-width: 1450px) {

    .about_cards_wrapper {
        margin: 100px 50px 0 50px;
    }

}

@media only screen and (max-width: 1200px) {

    .about_cards_wrapper {
        grid-template-columns: 1fr;
        row-gap: 50px;
        margin: 100px 25% 50px 25%;
    }

}

@media only screen and (max-width: 600px) {

    .about_cards_wrapper {
        margin: 100px 10% 50px 10%;
    }

}
